# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/api/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/idea
/.idea

# misc
.DS_Store
.env.local
/api/.env.local
/api/env
/client/.env.local
.env.development.local
/api/.env.development.local
/client/.env.development.local
.env.test.local
.env.production.local
/api/.env.production.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
